# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales de editores
*.log
*.tmp
*.swp
*.swo
*.bak

# VS Code
.vscode/

# Archivos de dependencias (por si usás Node.js)
node_modules/

# Entornos virtuales (por si usás Python)
venv/
.env

# Archivos de compilación (C/C++/Java)
*.out
*.o
*.class
*.exe

# Archivos de sistema ocultos
.idea/
*.iml

# Archivos ZIP o comprimidos
*.zip
*.tar.gz
*.rar